@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/elements/container.sass";

:root {
    scroll-behavior: smooth;
}

.grid {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.grid-col {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 0.1rem;
}

.grid-item {
    padding: 0.2rem;
}

.grid-col--2,
.grid-col--3 {
    display: none
}

@media (min-width: 768px) {
    .grid-col--2 {
        display: block;
    }
}

@media (min-width: 1080px) {
    .grid-col--3 {
        display: block;
    }
}